h1 {
    text-align: center;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
}

.ejeLeft { 
    grid-area: lft;
    width: auto;
}
.ejeBottom { 
    grid-area: btm;
}

.grafico {
    grid-area: graf;
    display: grid;
    align-items: end;
    grid-auto-flow: column;
    padding: 25px;
    margin-left: 30px;
    color: transparent;
    width: 900px;
}

.contenedor {
    display: grid;
    grid-template-areas:
      'lft graf'
      'lft btm';
    width: 900px;
}

.value {
    width: 10px;
    font-size: x-large;
    font-weight: bolder;
}

.eje {
    fill: none;
    stroke: #000;
} 

.eje2 {
    fill: none;
    stroke: #000;
} 

.tabla {
    display: flex;
    justify-content: center;
}

.tabla li {
    list-style: none;
}